﻿body {
    padding: 20px 0;
}

.flash-message {
    margin-top: 20px;
}

.table_header {
    background-color: #c3be85;
}

.table > tbody > tr:hover {
    background-color: #e8e8e5;
}

.dataTables_length {
    float: left !important;
}

.dataTables_filter {
    float: right !important;
}

.dataTables_info {
    float: left !important;
}

.dataTables_paginate {
    float: right !important;
}

.paginate_button {
    padding: 6px;
    background-color: #bbb3b3;
    color: black;
    margin: 0px 3px;
    border-radius: 3px;
}

.paginate_button:hover {
    padding: 6px;
    background-color: #bbb3b3;
    color: black;
    cursor: pointer;
}

.percentage_gain {
    background-color: #86ec86;
    padding: 3px 8px;
    border-radius: 4px;
}

.percentage_loss {
    background-color: #f98c95;
    padding: 3px 8px;
    border-radius: 4px;
}

.share_buy {
    padding: 4px 5px;
    background-color: #a3eca3;
    border-radius: 4px;
    float: right;
}

.share_sell {
    padding: 4px 5px;
    background-color: #fd8282;
    border-radius: 4px;
    float: right;
}

.form_box {
    height: 46px;
    width: 350px !important;
    border-radius: 8px !important;
    font-size: 18px;
}

.control-label {
    margin-top: 10px;
}

.share-update-popup {
    background-color: #e6e3e3;
    border-radius: 6px;
}

.brdr-colr {
    border-color: #968d8d;
}
