﻿
    <footer>
        <div class="footer-ui container">
            <div>
                <div class="credits text-center">
                    <p class="row">
                        <a href="" class="pull-left">Investment App</a><a href="" class="pull-right">By Satyanjal</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>