﻿<h1>Hi {{vm.user.firstName}}!!</h1>
<br>
<div class="container">
    <div class="row">

        <span ng-if="edit_box">
            <div class="text-center container share-update-popup">
                <h3>Add Old Share</h3>
                <form ng-submit="updateShare()" method="post" class="row">
                    <div class="row col-sm-12">
                    <div class="form-group col-sm-4">
                        <input type="text" class="form-control input-lg text-center brdr-colr" ng-model="vm.edit_details.edit_name" disabled>
                    </div>
                    <div class="form-group col-sm-4">
                        <input type="text" class="form-control form_box text-center brdr-colr" uib-datepicker-popup="{{format}}"
                               ng-model="vm.edit_details.edit_share_date" is-open="popup.opened" name="sharedate" ng-click="open()"
                               ng-required="true" placeholder="Enter Date"/>
                    </div>
                    <div class="form-group col-sm-4 brdr-colr" style="margin: 12px 0px 0px 0px;">
                        <div class="pull-left">Purchase Type :</div>
                        <div class="col-sm-4">
                            <input type="radio" name="purchase_type" ng-model="vm.edit_details.purchase_type" value="buy" required> BUY<br>
                        </div>
                        <div class="col-sm-4">
                            <input type="radio" name="purchase_type" ng-model="vm.edit_details.purchase_type" value="sell"> SELL<br>
                        </div>

                    </div>
                    </div>

                    <div class="row col-sm-12">
                    <div class="form-group col-sm-4">
                        <input type="text" class="form-control input-lg text-center brdr-colr" placeholder="Enter Share Qty" ng-model="vm.edit_details.edit_share_qty" required>
                    </div>
                    <div class="form-group col-sm-4">
                        <input type="text" class="form-control input-lg text-center brdr-colr" placeholder="Enter Share Price"
                               ng-model="vm.edit_details.edit_share_price" ng-change="cal_edit_totalprice()" required>
                    </div>
                    <div class="form-group col-sm-4">
                        <input type="text" class="form-control input-lg text-center brdr-colr" placeholder="Total Price" ng-model="vm.edit_details.edit_total_price" readonly>
                    </div>
                    </div>
                    <!-- createToDo() WILL CREATE NEW TODOS -->
                    <button type="submit" class="btn btn-primary btn-lg">Add</button>
                    <button type="button" class="btn btn-primary btn-lg" ng-click="canceladdShare()">Cancel</button>
                    <br>
                    <br>
                </form>
            </div>
            <br/>
        </span>


        <div class="col-lg-12">
            <table datatable="ng" class="table table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr class="table_header">
                        <th>Share Name</th>
                        <th>Share Quantity</th>
                        <th>Share Price</th>
                        <th>Total Price</th>
                        <th>Market Price (NSE)</th>
                        <th>Your Market Price</th>
                        <th>Percentage Gain</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="share in all_shares">
                        <td ng-click="detailsShare(share.name)"><a style="cursor:pointer">{{share.name}}</a></td>
                        <td>{{share.share_qty}}</td>
                        <td>Rs. {{share.share_price | number:2}}</td>
                        <td>Rs. {{share.total_price | number:2}}</td>
                        <td>Rs. {{share.market_price}}</td>
                        <td>Rs. {{  (share.share_qty)*(share.market_price) | number:2 }}</td>
                        <td>
                            <span ng-if="share.percentage_gain > 0" class="percentage_gain">
                                {{  share.percentage_gain | number:2 }}%
                            </span>
                            <span ng-if="share.percentage_gain < 0" class="percentage_loss">
                                {{  share.percentage_gain*(-1) | number:2 }}%
                            </span>

                        </td>
                        <td style="width:120px;">
                            <button class="btn btn-primary btn-xs" type="button" ng-click="addShare(share.name)">Add</button>
                            <button class="btn btn-danger btn-xs" type="button" ng-click="deleteShare(share)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


