
<div class="col-sm-12">
    <h3>Share Details Log</h3>
    <button class="btn btn-primary btn-md" ng-click="show_graphs()" ng-show="!showgraphs">Graphs</button>
    <button class="btn btn-danger btn-md" ng-click="hide_graphs()" ng-show="showgraphs">Hide Graphs</button>
    <br>
    <br>
    <div id="graphs" ng-show="showgraphs"></div>

    <br>
    <div ng-if="!showgraphs">
        <table datatable="ng" class="table table-bordered" cellspacing="0" width="100%">
            <thead>
            <tr class="table_header">
                <th>Share Name</th>
                <th>Share Quantity</th>
                <th>Share Price</th>
                <th>Total Price</th>
                <th>Updated On</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="share in share_details">
                <td>{{share.name}}</td>
                <td>
                    <span ng-if="share.purchase_type == 'buy'">
                        {{share.share_qty}}
                        <span class="share_buy">Buy</span>
                    </span>
                    <span ng-if="share.purchase_type == 'sell'">
                        {{share.share_qty | makePositive}}
                        <span class="share_sell">Sell</span>
                    </span>
                </td>
                <td>Rs. {{share.share_price | number:2}}</td>
                <td>Rs. {{share.total_price | makePositive | number:2 }}</td>
                <td>{{share.created_on | date: 'dd-MMM-yyyy'}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
