<div class="col-sm-8 text-center">
    <div class="row">
        <h3 class="col-sm-8">Add New Share</h3>
    </div>
    <br>
    <form ng-submit="createShares()" method="post">
        <div class="">
            <div class="form-group row">
                <div class="control-label col-sm-2">Share Name :</div>
                <div class="col-sm-6">
                    <input type="text" class="form-control input-lg text-center"
                           placeholder="Enter Share Name" ng-model="vm.details.name" required>
                </div>
            </div>
            <div class="form-group row">
                <div class="control-label col-sm-2">Share Symbol :</div>
                <div class="col-sm-6">
                    <input type="text" class="form-control input-lg text-center"
                           placeholder="Enter Share Symbol(NSE-ID)" ng-model="vm.details.nse_id" required>
                </div>
            </div>
            <div class="form-group row">
                <div class="control-label col-sm-2">Share Date :</div>
                <div class="col-sm-6">
                    <p class="input-group">
                        <input type="text" class="form-control form_box text-center" uib-datepicker-popup="{{format}}"
                               ng-model="vm.details.share_date" is-open="popup.opened" name="sharedate" ng-click="open()"
                               ng-required="true" placeholder="Enter Date" style="margin: 0px 0px -10px 0px;"/>
                    </p>
                </div>
            </div>
            <div class="form-group row">
                <div class="control-label col-sm-2">Share Qty :</div>
                <div class="col-sm-6">
                    <input type="text" class="form-control input-lg text-center"
                           placeholder="Enter Share Qty" ng-model="vm.details.share_qty" required>
                </div>
            </div>
            <div class="form-group row">
                <div class="control-label col-sm-2">Share Price :</div>
                <div class="col-sm-6">
                    <input type="text" class="form-control input-lg text-center" placeholder="Enter Share Price"
                       ng-model="vm.details.share_price" ng-change="cal_totalprice()" required>
                </div>
            </div>
            <div class="form-group row">
                <div class="control-label col-sm-2">Total Price :</div>
                <div class="col-sm-6">
                    <input type="text" class="form-control input-lg text-center"
                           placeholder="Total Price" ng-model="vm.details.total_price" readonly>
                </div>
            </div>
            <div class="row col-sm-8">
                <button type="submit" class="btn btn-primary btn-lg">Add</button>
            </div>
        </div>
    </form>
</div>