﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Share Investment Application</title>

    <link href="app-content/static/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="app-content/app.css" rel="stylesheet" />
    <link href="app-content/static/components/c3-graphs/c3.min.css" rel="stylesheet" />

</head>
<body class="container">
    <!-- header -->
    <header>
        <ul class="nav nav-tabs">
            <li ng-class="{active: activeTab === 'home'}"><a ui-sref="home">Home</a></li>
            <li ng-class="{active: activeTab === 'account'}"><a ui-sref="account">Account</a></li>
            <li ng-class="{active: activeTab === 'addShare'}"><a ui-sref="addShare">Add Share</a></li>
            <li ng-class="{active: activeTab === 'charts_graphs'}"><a ui-sref="charts_graphs">Charts</a></li>
            <li><a href="/login" target="_self">Logout</a></li>
        </ul>
        <div class="flash-message" ng-if="flash">
            <div class="{{'alert alert-' + flash.type}}" ng-bind="flash.message"></div>
        </div>
    </header>

    <!-- main -->
    <main ui-view></main>

    <!-- footer -->
    <footer></footer>

    <!-- external scripts -->
    <script src="app-content/static/vendor/jquery-2.1.4.min.js"></script>
    <script src="app-content/static/components/angular-1.4.7/angular.min.js"></script>
    <script src="app-content/static/components/angular-ui-router/angular-ui-router-0.2.18.min.js"></script>

    <!-- application scripts -->
    <script src="app.js"></script>
    <script src="app-services/user.service.js"></script>
    <script src="app-services/flash.service.js"></script>
    <script src="app-services/share.service.js"></script>

    <script src="home/index.controller.js"></script>
    <script src="account/index.controller.js"></script>
    <script src="addShare/index.controller.js"></script>
    <script src="detailsShare/index.controller.js"></script>
    <script src="userList/index.controller.js"></script>
    <script src="charts_graphs/index.controller.js"></script>
    <script src="upload_csv/index.controller.js"></script>

    <script type="text/javascript" src="app-content/static/vendor/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="app-content/static/vendor/ui-bootstrap-tpls-1.3.2.min.js"></script>
    <script type="text/javascript" src="app-content/static/components/angular-datatables/dist/angular-datatables.min.js"></script>
    <script type="text/javascript" src="app-content/static/components/ng-dialog/js/ngDialog.min.js"></script>
    <script type="text/javascript" src="app-content/static/bootstrap/bootstrap-dialog.min.js"></script>

    <!--For Graphs & Charts-->
    <script type="text/javascript" src="app-content/static/components/c3-graphs/c3-angular.min.js"></script>
    <script type="text/javascript" src="app-content/static/components/c3-graphs/c3.min.js"></script>
    <script type="text/javascript" src="app-content/static/components/c3-graphs/d3.min.js"></script>
    <!--End Graphs Charts-->

</body>
</html>