
<div class="col-sm-12">
    <h3>User Details</h3>
    <br>
    <table datatable="ng" class="table table-bordered" cellspacing="0" width="100%">
        <thead>
        <tr class="table_header">
            <th>User Name</th>
            <th>Email</th>
            <th>Admin</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in user_details">
            <td>{{share.name}}</td>
            <td>Rs. {{share.share_price | number:2}}</td>
            <td>Rs. {{share.total_price | makePositive | number:2 }}</td>
            <td>{{share.created_on | date: 'dd-MMM-yyyy'}}</td>
        </tr>
        </tbody>
    </table>
</div>
